.title {
    font-size: .9rem;
    color: #24505c !important;
    font-weight: 600;
    margin-bottom: 1rem;
}

.tags-title {
    font-size: .8rem;
    color: #24505c !important;
    font-weight: 500;
}
